#selection-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 2em;

      .book {
            width: 10em;
            img {
                  width: 6em;
                  height: 9em;
                  object-fit: cover;
            }
            h2 {
                  font-size: 1em;
            }
            p {
                  font-size: 0.8em;
            }
      }
}